@{
    ViewData["Title"] = "Edit Person Page";
}<h1>@ViewData["Title"]</h1>
<form asp-controller="Home" asp-action="EditKisi" method="post">

<div>

        @{
                int alpha = Model.SchoolList.Count;
                int beta = Model.FoodList.Count;
                <input type="hidden" name="ghostCounter" value="3">
                <input type="hidden" name="Id" value="@Model.Id">
            

                <div>       
                
                <p>Person's Name ----->    @Model.Name   </p>                
                <input name="Name" value="@Model.Name"/>           
                
                </div>
           



                <div>       
                
                <p>Person's Surname -->    @Model.Surname</p>                
                <input name="Surname" value="@Model.Surname"/>
                
                </div>


            
            
                <div>
                
                <p>Person's Age ------>    @Model.Age    </p>
                <input name="Age" value="@Model.Age"/>
                    
                </div>


            <br/>
            <br/>

            int i = 0;
            <div> @foreach(var school in Model.SchoolList)
                {
                    i++;
                        <input type="hidden" name="@($"{school.SchoolId}.SchoolId")" value="@school.SchoolId" />
                        
                        <div>
                        
                            <p>    @i. School's Name ------->  @school.SchoolName</p>
                            <input name="@($"{school.SchoolId}.SchoolName")" value="@school.SchoolName"/>

                        </div>
                        

                        <br />


                        <div>

                        <p>    @i. School's City ------->  @school.SchoolCity       </p>
                            <input name="@($"{school.SchoolId}.SchoolCity")" value="@school.SchoolCity" />
                        
                        </div>


                        <br />


                        <div>

                        <p>   @i. School's District --->  @school.SchoolDistrict   </p>
                            <input name="@($"{school.SchoolId}.SchoolDistrict")" value="@school.SchoolDistrict" />
                        
                        </div>


                        <br />


                        <div>

                        <p>   @i. School's Score ------>  @school.SchoolScore      </p>
                            <input name="@($"{school.SchoolId}.SchoolScore")" value="@school.SchoolScore" />
                            
                        </div>

                        <br />
                }
                    
                </div>

            <br />
            <br />
            i = 0;
                <div>@foreach (var food in Model.FoodList)
                    {
                        i++;
                        <input type="hidden" name="@($"{food.FoodId}.FoodId")" value="@food.FoodId" />
                    
                        <div>

                            <p>    @i. Food's Name --------->  @food.FoodName     </p>
                            <input name="@($"{food.FoodId}.FoodName")" value="@food.FoodName"/>
                        
                        </div>

                        <br />

                        <div>

                        <p>  @i. Food's Type --------->  @food.FoodType     </p>
                            <input name="@($"{food.FoodId}.FoodType")" value="@food.FoodType" />
                        
                        </div>


                        <br />

                        <div>

                        <p>   @i. Food's Cost --------->  @food.FoodCost     </p>
                            <input name="@($"{food.FoodId}.FoodCost")" value="@food.FoodCost" />
                        
                        </div>
                }
                </div>
                <input type="hidden" name="schoolCount" value="@alpha">
                <input type="hidden" name="foodCount" value="@beta">
                <button type="submit">Submit Changes</button>
        
        }
    
   
</div>

</form>