@{
    ViewData["Title"] = "Edit Person Page";
}<h1>@ViewData["Title"]</h1>
<form asp-controller="Home" asp-action="EditKisi" method="post">

<div>

        @{
                var db = new DataBaseDEMO();
                int kisiId = Model;
                var kisi = db.Kisiler.FirstOrDefault(k => k.Id == kisiId);
                var schoollar = db.Okullar;
                var foodlar = db.Yiyecekler;
                <input type="hidden" name="ghostCounter" value="3">
                <input type="hidden" name="Id" value="@Model">
            

                <div>       
                
                <p>Person's Name ----->    @kisi.Name</p>                
                <input type="text" name="Name" value="@kisi.Name"/>           
                
                </div>
           



                <div>       
                
                <p>Person's Surname -->    @kisi.Surname</p>                
                <input type="text" name="Surname" value="@kisi.Surname"/>
                
                </div>


            
            
                <div>
                
                <p>Person's Age ------>    @kisi.Age    </p>
                <input type="number" name="Age" value="@kisi.Age"/>
                    
                </div>


            <br/>
            <br/>
          
            int i = 0;
            <div>
                @foreach (var school in schoollar.Where((s => s.KisiId == kisiId)))
                {
                    i++;
                        
                        <div>
                        
                            <p>    @i. School's Name ------->  @school.SchoolName</p>
                            <input type="text" name="@($"{school.SchoolId}.SchoolName")" value="@school.SchoolName"/>

                        </div>
                        

                        <br />


                        <div>

                        <p>    @i. School's City ------->  @school.SchoolCity       </p>
                            <input type="text" name="@($"{school.SchoolId}.SchoolCity")" value="@school.SchoolCity" />
                        
                        </div>


                        <br />


                        <div>

                        <p>   @i. School's District --->  @school.SchoolDistrict   </p>
                            <input type="text" name="@($"{school.SchoolId}.SchoolDistrict")" value="@school.SchoolDistrict" />
                        
                        </div>


                        <br />


                        <div>

                        <p>   @i. School's Score ------>  @school.SchoolScore      </p>
                            <input type="number" name="@($"{school.SchoolId}.SchoolScore")" value="@school.SchoolScore" />
                            
                        </div>

                        <br />
                }
                    
                </div>

            <br />
            <br />
            i = 0;
            <div>
                @foreach (var food in foodlar.Where(f => f.KisiId == kisiId))
                    {
                        i++;
                    
                        <div>

                            <p>    @i. Food's Name --------->  @food.FoodName     </p>
                            <input type="text" name="@($"{food.FoodId}.FoodName")" value="@food.FoodName"/>
                        
                        </div>

                        <br />

                        <div>

                        <p>  @i. Food's Type --------->  @food.FoodType     </p>
                            <input type="text" name="@($"{food.FoodId}.FoodType")" value="@food.FoodType" />
                        
                        </div>


                        <br />

                        <div>

                        <p>   @i. Food's Cost --------->  @food.FoodCost     </p>
                            <input type="number" name="@($"{food.FoodId}.FoodCost")" value="@food.FoodCost" />
                        
                        </div>
                }
                </div>
                <button type="submit">Submit Changes</button>
        
        }
    
   
</div>

</form>