@{
    ViewData["Title"] = "Output Person";
}

<h1>@ViewData["Title"]</h1>
<form asp-controller="Home" asp-action="ShowKisiList" method="post">
<div>
        @{
            int i = 0;
            int a = i - 1; 
            @foreach (var kisi in Model)
        {
            i++;
            a++;
            <p style="font-size:x-large">@i. Person is:  @kisi.Name @kisi.Surname  <button type="submit" name="kisiIndex" value=@a>Edit This Person</button>  
            <div style="font-size:large">@kisi.Name @kisi.Surname is @kisi.Age years old.</div>
            </p>//not almayı unutma!!!
            <div class="schools">

                <p>@kisi.Name @kisi.Surname went to:</p>

                @foreach (var school in kisi.SchoolList)
                {
                    <br />

                    <div class="school">
                        <div style="font-size:large">   Name:       @school.SchoolName</div>
                        <div>   City:       @school.SchoolCity</div>
                        <div>   District:   @school.SchoolDistrict</div>
                        <div>   Score:      @school.SchoolScore</div>
                    </div>
                }
            </div>

            <br />

            <div class="favoriteFood">

                <p>This persons favorite foods are:</p>

                @foreach (var food in kisi.FoodList)
                {
                    <br/>

                    <div class="food">
                        <div style="font-size:large">   Name:       @food.FoodName</div>
                        <div>   Type:       @food.FoodType</div>
                        <div>   Price:      @food.FoodCost</div>
                    </div>
                
                }

            </div>         
            <br />
            <br />
            <br />
            <br />
            
        }
        
        <br />
        <br />
        <br />
}
</div>
</form>